html {
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-color: white;
}

body {
    overflow: hidden;
}

p {
    color: white;
}

/* Taken from Ana Tudor https://codepen.io/thebabydino/pen/mRrPwB */
input {
  display: block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: 10.5ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100% / 10ch 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}

.intro-text {
    width: auto;
    height: auto;
    text-align: center;
    padding: 25% 0;
    overflow: visible;
}

#submit-btn {
    width: 0px;
    height: 0px;
    margin: 0%;
    padding: 0%;
    opacity: 0;
}

#fade1 {
    animation: fade ease 2s;
    -webkit-animation: fade ease 2s;
    -moz-animation: fade ease 2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

#fade2 {
    animation: fade ease 2s;
    -webkit-animation: fade ease 2s;
    -moz-animation: fade ease 2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-delay: 4s;
}

#password-field {
    animation: fadeOther ease 7s;
    -webkit-animation: fadeOther ease 7s;
    -moz-animation: fadeOther ease 7s;
}

/* Text fade in animation (use animation-direction to get a fade out effect) */
@keyframes fade { 
    0% {color: white;}
    100% {color: black;}
}

@-webkit-keyframes fade {
    0% {color: white;}
    100% {color: black;}
}

@-moz-keyframes fade {
    0% {color: white;}
    100% {color: black;}
}

/* Fade in animation for other media */
@keyframes fadeOther { 
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeOther {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeOther {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}