html {
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-color: white;
}

body {
    overflow: hidden;
}

p {
    color: black;
}

@keyframes fadeIn { 
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
}

#first-intro {
    animation-name: intro;
    animation-duration: 3s;
    animation-delay: 1s;
}