html {
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-color: white;
}

@keyframes intro {
    0% {color: white;}
    25% {color: black;}
    75% {color: black;}
    100%{color: white;}
}

body {
    overflow: hidden;
}

p {
    color: white;
}

.intro {
    font-size: x-large;
    padding: 25% 0;
    margin: 10px;
    width: auto;
    height: auto;
    text-align: center;
}

#first-intro {
    animation-name: intro;
    animation-duration: 3s;
    animation-delay: 1s;
}