html {
    background-color: #1b1d1d;
    font-family: 'Ubuntu', sans-serif;
    color: #a5aab6;
}

.nobr {
    display: inline-flex;
    white-space: nowrap;
}

#cursor {
    width: 10px;
    height: 20px;
    background-color: white;
    align-self: end;
}

div.container {
    width: 100%;
    height: auto;
    margin: 5% 0%;
}